/* 内外边距撤销 */
*{
    margin: 0;
    padding: 0;
}
/* 整体 */
body{
    font-size: 16px;
    color: #333;
    background: url(../images//background2.gif) 5px 80px; 
}
/* 去除列表自带样式 */
li{
    list-style: none;
}
/* 去除超链接下划线 */
a{
    text-decoration: none;
}
/* 表单中元素去除默认属性 */
input，button,textarea{
    outline: none;
}
/* 导航栏格式 */
.nav{
    width: 100%;
    height: 80px;
    box-shadow: 2px 3px 5px #ccc;
    background-color: #fff;
}
/* 公共长度 */
.public-width{
    width: 1080px;
    margin: auto;
}
/* nav下的公共长度：弹性布局 */
.nav .public-width{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: start;
    
}
/* logo布局 */
.nav-logo{
    width: auto;
    height: 60px;
}
/* logo下的img */
.nav-logo img{
    display: block;
    width: auto;
    height: 100%;
}
/* list布局 */
.nav-list{
    margin-left: 80px;
}
.nav-list ul{
    display: flex;
    height: 100%;
    justify-content: start;
}
.nav-list ul li{
    width: auto;
    padding: 0 35px;
}
.nav-list ul li a{
    color:#333;
}
/* banner格式 */
.banner img{
    display: block;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    object-fit: cover;
}
/* box格式 */
.box-1{
    margin: 20px 0;
}
.box-1-title{
    border-bottom: 3px solid rgb(255, 0, 179);
}
.box-1-title h3{
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    color: slateblue;
}
.box-1-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}
.box-1-list ul li{
    cursor: pointer;
    width: 23%;
    margin: 20px 0;
    border: 1px solid #cedbe0;
}
.box-1-list ul li:hover{
    box-shadow: 2px 3px 5px #ccc;
}
.box-1-list-img{
    width: 100%;
    height: 180px;
}
.box-1-list-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-1-list-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/* box-1文本左侧 */
.box-l-t-l span{
    color: #888;
    font-size: 12px;
}
/* box-1文本右侧 */
.box-l-t-r a{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    background: linear-gradient(270deg,#2254f4,#406dff);
}
/* footer格式 */
.footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #333;
}
.footer p{
    color: #fff;
    text-align: center;
    /* 文本居中 */
}

/* introduce.html新增 */
.nav-list ul .active a{
    color: rgb(141, 57, 184);
}
.introduce-img{
    width: 100%;
    height: 420px;
    margin: 15px 0;
}
.introduce-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduce-img p{
    display: block;
    width: auto;
    line-height: 14px;
    padding-left: 20px;
}
.introduce-text p{
    text-indent: 2em;
    text-align: left;
    color:  black;
}
.introduce-text h2{
    color: darkorchid;
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
.introduce-img-1{
    width: 200px;
    height: 150px;
    margin-right: 15px 0;
}
.introduce-img-1 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* extracts.html新增 */
.extracts ul li{
    display: flex;
    justify-content: start;
    margin: 15px 0;
    border: 1px solid #ccc;
}
.extracts-img img{
    width: 240px;
    height: 100%;
    object-fit: cover;
}
.extracts-text{
    padding: 15px;
}
.extracts-text h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.extracts-text p{
    line-height: 1.8;
    text-indent: 2em;
    color: #444;
}
.extracts-more{
    width: 1005;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}
.extracts-more span{
    font-size: 14px;
    color: #999;
}
.extracts-more a{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    background: linear-gradient(270deg,#2254f4,#406dff);
}
/* contract.html新增 */
.contact-top{
    display: flex;
    justify-content: start;
    border: 1px dashed #ccc;
    margin: 15px 0;
    padding: 10px;
    background: #f7f8f9;
    border-radius: 10px;
}
.c-tl img{
    width: 100px;
    height: 100px;
}
.c-tr{
    margin: 10px 0 0 20px;
    text-indent: 2em;
    line-height: 1.8;
}
.contact-table{
    display: flex;
    justify-content: start;
    border: 1px dashed #ccc;
    margin: 15px 0;
    padding: 10px;
    background: #f7f8f9;
    border-radius: 10px;
}
.contact-table label{
    display: flex;
    justify-self: start;
    margin: 20px 0;
}
.contact-table label span{
    display: block;
    width: 100px;
    align-items: center;
    text-align: right;
}
.contact-table label input{
    margin-left: 10px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
} 
.contact-table label textarea{
    width: 600px;
    height: 260px;
    padding: 10px;
    margin-left: 10px;
}
.contact-table label button{
    cursor: pointer;
    display: block;
    color: #fff;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background: linear-gradient(270deg,#2254f4,#406dff);
    margin-left: 110px;
}
.contact-table label button:hover{
    box-shadow: 2px 3px 5px #333;
}